div {
  background-color: black;
}

header {
  margin: 0 auto;
  width: 95%;
  height: 200px;
}

main {
  margin: 0 auto;
  width: 90%;
}
.Element img {
  width: 200px;
  height: 120px;
  object-fit: cover;
  margin-right: 10px;
  flex-shrink: 0;
}
.Element {
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.LogoNetflix {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
